In [3]:
%pip install pymysql cryptography

Collecting pymysql
  Using cached pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Collecting cryptography
  Downloading cryptography-46.0.4-cp311-abi3-macosx_10_9_universal2.whl.metadata (5.7 kB)
Requirement already satisfied: cffi>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from cryptography) (2.0.0)
Requirement already satisfied: pycparser in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from cffi>=2.0.0->cryptography) (3.0)
Using cached pymysql-1.1.2-py3-none-any.whl (45 kB)
Downloading cryptography-46.0.4-cp311-abi3-macosx_10_9_universal2.whl (7.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.2/7.2 MB 3.3 MB/s  0:00:02m 3.3 MB/s eta 0:00:01
Installing collected packages: pymysql, cryptography
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [cryptography]0m 1/2 [cryptography]
Successfully installed cryptography-46.0.4 pymysql-1.1.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import sqlalchemy as sa

# Verbinding maken met de XAMPP database
engine = sa.create_engine("mysql+pymysql://root:@localhost/climate_watch")

# Laden van de data (ByCountry als startpunt)
df = pd.read_sql("SELECT * FROM global_temp_country", engine)
df.head()

     id          dt  average_temp  temp_uncertainty country
0  1743  0000-00-00         2.294               0.0    None
1  1744  0000-00-00         0.000               0.0    None
2  1745  0000-00-00         1.841               0.0    None
3  1746  0000-00-00         0.000               0.0    None
4  1747  0000-00-00         0.000               0.0    None

In [2]:
# Checken per kolom waarden die missen
print("Missende waarden per kolom:")
print(df.isnull().sum())

# Checken per rij waarden die missen (toon de eerste 5 rijen met missende data)
print("\nRijen met missende waarden:")
print(df[df.isnull().any(axis=1)].head())

Missende waarden per kolom:
id                    0
dt                    0
average_temp          0
temp_uncertainty      0
country             271
dtype: int64

Rijen met missende waarden:
     id          dt  average_temp  temp_uncertainty country
0  1743  0000-00-00         2.294               0.0    None
1  1744  0000-00-00         0.000               0.0    None
2  1745  0000-00-00         1.841               0.0    None
3  1746  0000-00-00         0.000               0.0    None
4  1747  0000-00-00         0.000               0.0    None